<div class="m-container">
    <div class="m-header">
        <h3>Trainer</h3>
    </div>
    <form [formGroup]="trainerForm">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>First Name</label>
                <input type="text" formControlName="firstName" [maxlength]="30" class="form-control"
                    [ngClass]="{ 'is-invalid': formVale.firstName.touched && formVale.firstName.errors }" />
                <div *ngIf="formVale.firstName.touched && formVale.firstName.errors" class="invalid-feedback">
                    <div *ngIf="formVale.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" [maxlength]="30" class="form-control"
                    [ngClass]="{ 'is-invalid': formVale.lastName.touched && formVale.lastName.errors }" />
                <div *ngIf="formVale.lastName.touched && formVale.lastName.errors" class="invalid-feedback">
                    <div *ngIf="formVale.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Mobile No.</label>
                <input type="text" formControlName="mobileNo" (keypress)="numberOnly($event)" [maxlength]="10"
                    class="form-control" oninput="if(!this.value.match('^[1-9][0-9]*$'))this.value='';"
                    [ngClass]="{ 'is-invalid': formVale.mobileNo.touched && formVale.mobileNo.errors }" />
                <div *ngIf="formVale.mobileNo.touched && formVale.mobileNo.errors" class="invalid-feedback">
                    <div *ngIf="formVale.mobileNo.errors.required">Mobile Number is required.</div>
                    <div *ngIf="formVale.mobileNo.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Email ID</label>
                        <input type="text" formControlName="emailId" class="form-control"
                            [ngClass]="{ 'is-invalid': formVale.emailId.touched && formVale.emailId.errors }" />
                        <div *ngIf="formVale.emailId.touched && formVale.emailId.errors" class="invalid-feedback">
                            <div *ngIf="formVale.emailId.errors.required">Email is required</div>
                            <div *ngIf="formVale.emailId.errors.email">Email must be a valid email address</div>
                        </div>
            </div>
            <div class="form-group col-md-6">
                <label>Gender</label>
                <div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input radio-btn" type="radio" name="inlineRadioOptions"
                            id="inlineRadio1" [value]="1" formControlName="gender"
                            [ngClass]="{ 'is-invalid': formVale.gender.touched && formVale.gender.errors }">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input radio-btn" type="radio" name="inlineRadioOptions"
                            id="inlineRadio2" [value]="2" formControlName="gender"
                            [ngClass]="{ 'is-invalid': formVale.gender.touched && formVale.gender.errors }">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                    <div *ngIf="formVale.gender.touched && formVale.gender.errors"
                        class="invalid-feedback">
                        <div *ngIf="formVale.gender.errors.required">Gender is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" formControlName="address" [maxlength]="100" class="form-control"
                [ngClass]="{ 'is-invalid': formVale.address.touched && formVale.address.errors }" />
            <div *ngIf="formVale.address.touched && formVale.address.errors" class="invalid-feedback">
                <div *ngIf="formVale.address.errors.required">Address is required</div>
            </div>
        </div> 
        <div class="text-right">
            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="cancelCreate()">
                Cancel
            </button>
            <button class="btn btn-outline-primary btn-sm ml-2" type="button" (click)="createMember()">
                Save
            </button>
        </div>
    </form>
</div>