<div>
	<h2 routerLink="/admin/rural/out-reach/out-reach-list">Outreach</h2>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card" [formGroup]="outReachForm">

			<div class="p-fluid p-formgrid grid">
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">District</label>
					<p-dropdown class="input-line-height-1" formControlName="district" optionLabel="name"
						[showClear]="true" placeholder="Select"></p-dropdown>
				</div>

				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">Date <span class="star-error">*</span></label>
					<p-calendar [iconDisplay]="'input'" class="input-line-height-1" [showIcon]="true"></p-calendar>
				</div>
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">Name of donor <span class="star-error">*</span></label>
					<p-dropdown [options]="nameOfDonor" formControlName="nameOfDonor" #cmpDropDown optionValue="id"
						(onChange)="changeNameOfDoor(cmpDropDown.value)" class="input-line-height-1" optionLabel="name"
						[showClear]="true" placeholder="Select"></p-dropdown>
				</div>
			</div>

			<div class="p-fluid p-formgrid grid">
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">Block <span class="star-error">*</span></label>
					<p-dropdown class="input-line-height-1" formControlName="block" optionLabel="name"
						[showClear]="true" placeholder="Select"></p-dropdown>
				</div>

				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">Mode of screening <span class="star-error">*</span></label>
					<p-dropdown [options]="modeoFScreening" formControlName="modeOfScreening"
						(onChange)="changeModeOfScreening($event)" class="input-line-height-1" optionLabel="name"
						[showClear]="true" placeholder="Select"></p-dropdown>
				</div>
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">PWD/ Non PWD <span class="star-error">*</span></label>
					<p-dropdown [options]="pwdNonPwd" (onChange)="changePWD($event)" formControlName="pwdNonPwd"
						class="input-line-height-1" optionLabel="name" [showClear]="true"
						placeholder="Select"></p-dropdown>
				</div>
			</div>

			<p-accordion [activeIndex]="0">
				<p-accordionTab header="Screening">
					<div>
						<p-panel header="Number of persons screened">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber"
														fdprocessedid="xjos8">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber"
														id="adult_ss_screening_female-ajax"
														name="adult_ss_screening_female" fdprocessedid="jhu9a8">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber"
														id="adult_ss_screening_tg-ajax" name="adult_ss_screening_tg"
														fdprocessedid="761vfg">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber"
														id="child_ss_screening_male-ajax" name="child_ss_screening_male"
														fdprocessedid="4eg3dr">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber"
														id="child_ss_screening_female-ajax"
														name="child_ss_screening_female" fdprocessedid="8xay5g">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber"
														id="child_ss_screening_tg-ajax" name="child_ss_screening_tg"
														fdprocessedid="v5vsrj">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons referred to camp by ASHA">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons referred to camp by other frontline workers (ANM/ AWW/ AWH)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber"
														fdprocessedid="xjos8">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Referral to camp by community volunteers (PRI and SHG members)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Referral to camp by others">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
				</p-accordionTab>
				<p-accordionTab header="Refraction" formGroupName="refraction" *ngIf="isModeOfScreening">
					<div>
						<p-panel header="Number of persons refracted" formGroupName="noOfPersonRefracted">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons identified with Uncorrected Refractive Error (URE)"
							formGroupName="noOfPersonURE">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons received prescription for spectacles"
							formGroupName="noOfPersonReceivedSpectacles">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
				</p-accordionTab>
				<p-accordionTab header="Spectacles Dispensed" *ngIf="isModeOfScreening" formGroupName="spectaclesDispensed">
					<div>
						<p-panel header="Number of persons dispensed spectacles (free)" formGroupName="noOfPersonsDispensedSpectaclesFree">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons dispensed spectacles (subsidized rate)" formGroupName="noOfPersonsDispensedSpectaclesRate">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons dispensed spectacles (fully paid)" formGroupName="noOfPersonsDispensedSpectaclesFullyPaid">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
				</p-accordionTab>
				<p-accordionTab header="{{modeOfScreening}}">
					<div>
						<p-panel header="Number of persons referred to Vision Center (VC)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons referred to PHC/ CHC">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons referred to Base Hospital (BH)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel
							header="Number of persons referred to District Hospital(DH)/Sub Divisional Hospital(SDH)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel
							header="Number of persons identified with Cataract and referred to District Hospital (DH/SDH)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="Number of persons identified with Cataract and referred to Base Hospital (BH)">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Adult (&gt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="field-heading">
											<h4>Child (&lt;18 Years)</h4>
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label>Male</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label>Female</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label>Transgender</label>
													<input type="number" min="0" class="form-control onlyNumber">
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</p-panel>
					</div>
				</p-accordionTab>
			</p-accordion>
			<div class="col-12 md text-center">
				<button pButton pRipple class="save-btn" (click)="outReachSave()">Save</button>
			</div>
		</div>

	</div>
</div>