<div>
	<h2 routerLink="/admin/rural/out-reach/out-reach-list">Outreach</h2>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card" [formGroup]="outReachForm">
			<div class="p-fluid p-formgrid grid">
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">{{jsonFieldValue?.district_name}} <span
							class="star-error">*</span></label>
					<p-dropdown class="input-line-height-1" optionLabel="name" formControlName="district" [ngClass]="{'ng-invalid ng-dirty is-invalid' : (outReachForm.get('district')?.touched ||
					outReachForm.get('district')?.dirty) && !outReachForm.get('district')?.valid }" [showClear]="true"
						placeholder="Select"></p-dropdown>
					<span class="invalid-feedback">
						<span *ngIf="outReachForm.get('district')?.errors?.required">
							{{jsonFieldValue?.district_is_required }}
						</span>
					</span>
				</div>


				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">{{jsonFieldValue?.date}} <span class="star-error">*</span></label>
					<p-calendar [iconDisplay]="'input'" [ngClass]="{'ng-invalid ng-dirty is-invalid' : (outReachForm.get('date')?.touched ||
					outReachForm.get('date')?.dirty) && !outReachForm.get('date')?.valid }" formControlName="date"
						class="input-line-height-1" [showIcon]="true"></p-calendar>
					<small class="p-error block" *ngIf="outReachForm.get('date')?.invalid && outReachForm.get('date')?.dirty ||
					 outReachForm.get('date')?.touched">
						{{jsonFieldValue?.date_is_required}} </small>
				</div>
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">{{jsonFieldValue?.name_of_donor}} <span
							class="star-error">*</span></label>
					<p-dropdown class="input-line-height-1" optionLabel="name" [options]="nameOfDonor"
						formControlName="nameOfDonor" #cmpDropDown optionValue="id"
						(onChange)="changeNameOfDoor(cmpDropDown.value)" [ngClass]="{'ng-invalid ng-dirty is-invalid' : (outReachForm.get('nameOfDonor')?.touched ||
					outReachForm.get('nameOfDonor')?.dirty) && !outReachForm.get('nameOfDonor')?.valid }" [showClear]="true"
						placeholder="Select"></p-dropdown>
					<span class="invalid-feedback">
						<span *ngIf="outReachForm.get('nameOfDonor')?.errors?.required">
							{{jsonFieldValue?.name_of_donor_is_required}}
						</span>
					</span>
				</div>
			</div>

			<div class="p-fluid p-formgrid grid">
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">{{jsonFieldValue?.block}} <span class="star-error">*</span></label>
					<p-dropdown class="input-line-height-1" formControlName="block" optionLabel="name" [ngClass]="{'ng-invalid ng-dirty is-invalid' : (outReachForm.get('block')?.touched ||
					outReachForm.get('block')?.dirty) && !outReachForm.get('block')?.valid }" [showClear]="true"
						placeholder="Select"></p-dropdown>
					<span class="invalid-feedback">
						<span *ngIf="outReachForm.get('block')?.errors?.required">
							{{jsonFieldValue?.block_is_required}}
						</span>
					</span>
				</div>

				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">{{jsonFieldValue?.Mode_of_screening}} <span
							class="star-error">*</span></label>
					<p-dropdown [options]="modeoFScreening" formControlName="modeOfScreening"
						(onChange)="changeModeOfScreening($event)"
						[ngClass]="{'ng-invalid ng-dirty is-invalid' : (outReachForm.get('modeOfScreening')?.touched || outReachForm.get('modeOfScreening')?.dirty) && !outReachForm.get('modeOfScreening')?.valid }"
						class="input-line-height-1" optionLabel="name" [showClear]="true"
						placeholder="Select"></p-dropdown>
					<span class="invalid-feedback">
						<span *ngIf="outReachForm.get('modeOfScreening')?.errors?.required">
							{{jsonFieldValue?.Mode_of_screening_is_required}}
						</span>
					</span>

				</div>
				<div class="col-12 md:col-4">
					<label htmlFor="firstname2">{{jsonFieldValue?.PWD_Non_PWD}} <span
							class="star-error">*</span></label>
					<p-dropdown [options]="pwdNonPwd" (onChange)="changePWD($event)" formControlName="pwdNonPwd"
						class="input-line-height-1" optionLabel="name" [showClear]="true"
						placeholder="Select"></p-dropdown>
					<small class="p-error block" *ngIf="outReachForm.get('pwdNonPwd')?.invalid && outReachForm.get('pwdNonPwd')?.dirty ||
						outReachForm.get('pwdNonPwd')?.touched">
						{{jsonFieldValue?.PWD_Non_PWD_is_required}}</small>
				</div>
			</div>

			<p-accordion [activeIndex]="0">
				<p-accordionTab header="{{jsonFieldValue?.screening}}" formGroupName="screening">
					<div>
						<p-panel header="{{jsonFieldValue?.number_of_persons_screened}}" formGroupName="noOfPersonScreened">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referred_asha}}" formGroupName="noOfPersonASHA">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referred_camp}}" formGroupName="noOfPersonReferredCamp">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referred_camp_pri}}" formGroupName="referralCampPRI">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referral_camp}}" formGroupName="referralCampByOthers">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
				</p-accordionTab>
				<p-accordionTab header="{{jsonFieldValue?.refraction}}" formGroupName="refraction"
					*ngIf="isModeOfScreening">
					<div>
						<p-panel header="{{jsonFieldValue?.number_of_persons_refracted}}"
							formGroupName="noOfPersonRefracted">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_identified_uri}}"
							formGroupName="noOfPersonURE">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_received_prescription}}"
							formGroupName="noOfPersonReceivedSpectacles">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
				</p-accordionTab>
				<p-accordionTab header="{{jsonFieldValue?.spectacles_dispensed}}" *ngIf="isModeOfScreening"
					formGroupName="spectaclesDispensed">
					<div>
						<p-panel header="{{jsonFieldValue?.number_of_persons_dispensed_spectacles_free}}"
							formGroupName="noOfPersonsDispensedSpectaclesFree">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_dispensed_spectacles_rate}}"
							formGroupName="noOfPersonsDispensedSpectaclesRate">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_dispensed_spectacles_fully}}"
							formGroupName="noOfPersonsDispensedSpectaclesFullyPaid">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
				</p-accordionTab>
				<p-accordionTab header="{{modeOfScreening}}" formGroupName="referralCamp">
					<div>
						<p-panel header="{{jsonFieldValue?.number_of_persons_spectacles_vc}}"
							formGroupName="noOfPersonsReferredVC">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referred_phc}}"
							formGroupName="noOfPersonsReferredPHC">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referred_bh}}"
							formGroupName="noOfPersonsReferredBH">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_referred_sdh}}"
							formGroupName="noOfPersonsReferredSDH">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_cataract_dh}}"
							formGroupName="noOfPersonsReferredCataractSDH">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
					<div class="mt-3">
						<p-panel header="{{jsonFieldValue?.number_of_persons_cataract_bh}}"
							formGroupName="noOfPersonsReferredCataractBH">
							<app-adult-child></app-adult-child>
						</p-panel>
					</div>
				</p-accordionTab>
			</p-accordion>
			<div class="col-12 md text-center">
				<button pButton pRipple class="save-btn" (click)="outReachSave()">Save</button>
			</div>
		</div>

	</div>
</div>