<div class="m-container">
    <div class="m-header">
        <h3>Trainer List </h3>
        <button class="btn btn-outline-primary btn-sm ml-1" (click)="createTrainer()"><i class="fas fa-add"></i> Add
        </button>
    </div>
    <div class="table-responsive">
        <table class="m-table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Staff Name</th>
                    <th>Staff ID</th>
                    <th>Mobile No.</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trainer of trainerList;index as i">
                    <td>{{i+1}}</td>
                    <td>
                        <img src="assets/img/profile.png" alt="" />
                        <p class="user-name">{{trainer.fullName}} </p>
                    </td>
                    <td>{{trainer.trainerUID}}</td>
                    <td>{{trainer.mobileNo}}</td>
                    <td>{{trainer.gender}}</td>
                    <td>{{trainer.emailId}}</td>
                    <td>{{trainer.address}}</td>
                    <td>{{trainer.createdDate | date: 'dd-MMM-yyyy'}}</td>
                    <td><i class="fas fa-edit btn-outline-primary curor-pointer" (click)="editTrainer(trainer)"></i>
                        <i class="fa-solid fa-trash btn-outline-danger ml-2 curor-pointer"
                            (click)="confirmationDelete(trainer)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!trainerList?.length" class="text-center">
        <span> No data found...</span>
    </div>

</div>
<ng-template #confirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        Are you sure to delete this trainer?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="closePopup()">No</button>
        <button type="button" class="btn btn-outline-danger btn-sm ml-2" (click)="deleteTrainer()">Yes</button>
    </div>
</ng-template>