<div class="m-container">
    <div class="m-header">
        <h3>Equipment List </h3>
        <button class="btn btn-outline-primary btn-sm ml-1" (click)="createequipment()"><i class="fas fa-add"></i> Add
        </button>
    </div>
    <div class="table-responsive">
        <table class="m-table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Equipment Name</th>
                    <th>Date Of Purchase</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Organisation</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipment of equipmentList;index as i">
                    <td>{{i+1}}</td>
                    <td>
                        <img src="assets/img/profile.png" alt="" />
                        <p class="user-name">{{equipment.equipmentName}} </p>
                    </td>
                    <td>{{equipment.dateOfPurchase | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{equipment.quantity}}</td>
                    <td><i class="fa-solid fa-indian-rupee-sign"></i> {{equipment.price}}</td>
                    <td>{{equipment.description}}</td>
                    <td>{{equipment.vendorOrganization}}</td>
                    <td>{{equipment.vendorEmail }}</td>
                    <td>{{equipment.vendorContact }}</td>
                    <td>{{equipment.vendorAddress }}</td>
                    <td><i class="fas fa-edit btn-outline-primary curor-pointer" (click)="editequipment(equipment)"></i>
                        <i class="fa-solid fa-trash btn-outline-danger ml-2curor-pointer"
                            (click)="confirmationDelete(equipment)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!equipmentList?.length" class="text-center">
        <span> No data found...</span>
    </div>
</div>
<ng-template #confirmation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        Are you sure to delete this equipment?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="closePopup()">No</button>
        <button type="button" class="btn btn-outline-danger btn-sm ml-2" (click)="deleteequipment()">Yes</button>
    </div>
</ng-template>