<div>
	<h2>Dashboard</h2>
</div>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<div class="p-fluid p-formgrid grid">
				<div class="col-12 md:col-2">
					<label htmlFor="firstname2">State</label>
					<p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true"
						placeholder="Select a City"></p-dropdown>
				</div>
				<div class="col-12 md:col-2">
					<label htmlFor="firstname2">District</label>
					<p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true"
						placeholder="Select a City"></p-dropdown>
				</div>
				<div class="col-12 md:col-2">
					<label htmlFor="firstname2">Block</label>
					<p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [showClear]="true"
						placeholder="Select a City"></p-dropdown>
				</div>
				<div class="col-12 md:col-2">
					<label htmlFor="firstname2">Start Date</label>
					<p-calendar [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
				</div>
				<div class="col-12 md:col-2">
					<label htmlFor="firstname2">End Date</label>
					<p-calendar [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
				</div>
				<div class="col-12 md:col-1">
					<label htmlFor="lastname2" style="visibility: hidden;">Save</label>
					<button pButton pRipple class="save-btn">Search</button>
				</div>

			</div>
			<div class="grid">
				<!-- <div class="col-12 lg:col-6 xl:col-3">
					<div class="card mb-0">
						<div class="flex justify-content-between mb-3">
							<div>
								<div class="text-900 font-medium text-xl">152</div>
							</div>
							<div class="flex align-items-center justify-content-center bg-blue-100 border-round"
								[ngStyle]="{width: '2.5rem', height: '2.5rem'}">
								<i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
							</div>
						</div>
						<span class="text-700 font-medium">Total </span>
						<span class="text-500">since last visit</span>
					</div>
				</div> -->

				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>
				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>
				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>

				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="grid">
				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>
				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>
				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>

				<div class="col-12 lg:col-6 xl:col-3">
					<div class="small-box" style="background-color:#80276C; color:#ffffff;">
						<div class="inner">
							<h3 style="margin-top:0px!important">0</h3>
							<p style="font-size:14px;">Total <br><small>CVIs </small></p>
						</div>
						<div class="icon">
							<i class="fa fa-child"></i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>