/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.3s linear;
}

:root {
  --poppins: "Poppins", "sans-serif";
  --lato: "Lato", "sans-serif";
  --light: #f9f9f9;
  --blue: #3c91e6;
  --cancel: #5c636a;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --drak-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --edit-icon-blue: #0d6efd;
  --edit-icon-grey: #e9ecef;
  --delete-icon-light: #f8f9fa;
  --delete-icon-red: #dc3545;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey) !important;
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

.display-center {
  align-content: center;
  justify-content: center;
  margin: 0;
}



.m-t-50 {
  margin-top: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light) !important;
  height: 100%;
  width: 280px;
  // z-index: 2000;
  font-family: var(--lato) !important;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

.sidebar.hide {
  width: 60px;
}

.top-menu.top-menu-hide {
  position: relative;
  width: calc(100% - 60px);
  left: 60px;
  transition: 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue) !important;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light) !important;
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo i {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 10px;
}

.sidebar .side-menu li {
  height: 48px;
  margin-left: 6px;
  background: transparent;
  border-radius: 48px 0 0 48px;
  padding: 4px;
  cursor: pointer;
}

.nav-link {
  padding: 0 !important;
  color: var(--dark) !important;
}

.sidebar .side-menu li a {
  height: 100%;
  width: 100%;
  background: var(--light) !important;
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark) !important;
  white-space: nowrap;
  overflow-x: hidden;
}

.sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: 0.3 ease;
}

ul.side-menu.top {
  padding-left: 0 !important;
}

ul.side-menu {
  padding-left: 0 !important;
}

.sidebar.hide~.content {
  width: calc(100% - 60px);
  left: 60px;
}

.sidebar .side-menu.top li a:hover {
  color: var(--blue) !important;
}

.sidebar .side-menu li.active {
  background: var(--grey) !important;
  position: relative;
}

.sidebar .side-menu li.active a {
  color: var(--blue) !important;
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0;
  top: -40px;
  z-index: -1;
  box-shadow: 20px 20px 0 var(--grey);
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0;
  bottom: -40px;
  z-index: -1;
  box-shadow: 20px -20px 0 var(--grey);
}

.sidebar .side-menu li a.logout {
  color: var(--red) !important;
}

.sidebar .side-menu li a i {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

.content nav {
  height: 56px;
  background: var(--light) !important;
  padding: 0 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  // z-index: 1000;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  // background: var(--red);
  border-radius: 50%;
  left: 0;
  bottom: -40px;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav .fa-bars {
  cursor: pointer;
  color: var(--dark);
}

.content nav .nav-link {
  font-size: 16px;
  transition: 0.3 ease;
}

.content nav .nav-link:hover {
  color: var(--blue);
}

.content nav form {
  max-width: 400px;
  width: 400px;
  margin-right: auto;
}

.content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

.content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

.content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

.content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

.content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: 0.3s ease;
}

.content nav #switch-mode:checked+.switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.content nav .notification {
  font-size: 20px;
  position: relative;
}

.content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

.user-name {
  margin: 0px;
}

.form-control.is-invalid {
  background-image: none !important;
}



.curor-pointer {
  cursor: pointer;
}

.form-control {
  background-color: var(--light);
}

.form-select {
  background-color: var(--light);
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.radio-btn {
  margin-top: 5px !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 8px 10px !important;
}

// priceing page style

$primary-color: #5768ad;
$seconday-color: #120851;
$white-color: #ffffff;
$heading-color: #263246;
$para-color: #6f6f6f;
$black-color: #000000;
$heading-color-2: #252525;
$normal-color: #1c1c1c;
$background: #f5f5f5;
$background-2: #f2f2f2;
$border: #ebebeb;
$border-1: #e1e1e1;
$fm-unna: "Unna", serif;
$fm-nunito: "Nunito Sans", sans-serif;

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 10px;
  width: 300px;

  .sub-menu {
    background: #fff;
    padding: 20px;
    // margin: 10px;
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info h3 {
    font-weight: 500;
    font-size: 20px;
  }

  .user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
  }

  .sub-menu .text {
    padding-left: 10px;
  }

  .sub-menu a {
    margin-bottom: 5px;
    cursor: pointer;
  }

  .logout {
    color: var(--red) !important;
  }

  .sub-menu .logout:hover {
    color: var(--blue) !important;
  }

  .sub-menu .hover:hover {
    color: var(--blue) !important;
  }
}

.open-menu {
  display: block !important;
}

#subMenu {
  display: none;
}

.form-select.is-invalid:not([multiple]):not([size]) {
  --bs-form-select-bg-icon: none !important;
}

// new changes
.m-container {
  width: 100%;
  color: var(--dark);
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.m-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.m-header h3 {
  font-size: 1.5rem;
}

// custom table
.m-table {
  width: 100%;
  border-collapse: collapse;
}

.m-table th {
  padding: 10px 0px 10px 10px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

.m-table td {
  padding: 10px 0px 10px 10px;
}

.m-table td:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 6px;
}

.m-table td img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.m-table tr:hover {
  background: var(--grey);
}

.m-table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

.m-table tr td .status.pending {
  background: var(--orange);
}

.form-group label {
  font-size: 0.85rem;
  font-weight: 500;
}

.form-group .invalid-feedback {
  font-size: 0.75rem;
  font-weight: 500;
}

.fa-edit:hover {
  color: var(--edit-icon-blue) !important;
  border-color: var(--edit-icon-blue) !important;
  background-color: var(--edit-icon-grey) !important;
}

.fa-trash:hover {
  color: var(--delete-icon-red) !important;
  border-color: var(--delete-icon-red) !important;
  background-color: var(--delete-icon-light) !important;
}

.btn-outline-primary {
  font-weight: 100 !important;
}